Lists are Ordered Mutable collections of items.
They contain items of different data types

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [2]:
names = ["tada","ray",1,2,3]
print(names)

['tada', 'ray', 1, 2, 3]

In [ ]:
### Accessing List Elements
lst = ["Apple","Banana","Watermelon","JackFruit"]
print(lst[1])

print(lst[-1]) #get the last element

Banana
JackFruit

In [7]:
print(lst[1:]) #from the index to the last element

['Banana', 'Watermelon', 'JackFruit']

In [8]:
print(lst[1:3])

['Banana', 'Watermelon']

In [14]:
## Modifying the list elements

#Directly change the element
lst[1] = "Strawberry"
print(lst)

lst[1:] = "apple"
print(lst)


lst = ["Apple","Banana","Watermelon","JackFruit"]

['Apple', 'Strawberry', 'p', 'p', 'l', 'e']
['Apple', 'a', 'p', 'p', 'l', 'e']

In [ ]:
## List methods

lst.append("Orange")

print(lst)

## Add at specific index
lst.insert(0,"Kiwi")
print(lst)

['Apple', 'Banana', 'Watermelon', 'JackFruit', 'Orange', 'Orange', 'Orange']
['Kiwi', 'Apple', 'Banana', 'Watermelon', 'JackFruit', 'Orange', 'Orange', 'Orange']

In [ ]:
lst.remove("Orange") ## Removing the first index of an item

In [20]:
print(lst)

['Kiwi', 'Apple', 'Banana', 'Watermelon', 'JackFruit', 'Orange', 'Orange']

In [21]:
## Remove and return the last 
popped_fruits = lst.pop()
print(popped_fruits)
print(lst)

Orange
['Kiwi', 'Apple', 'Banana', 'Watermelon', 'JackFruit', 'Orange']

In [22]:
index = lst.index("Banana")
print(index)

2

In [23]:
lst.insert(3,"Banana")
print(lst.count("Banana"))

2

In [26]:
## Sorting the entire list of items
lst.sort()
print(lst)

['Apple', 'Banana', 'Banana', 'JackFruit', 'Kiwi', 'Orange', 'Watermelon']

In [27]:
lst.reverse()
print(lst)

['Watermelon', 'Orange', 'Kiwi', 'JackFruit', 'Banana', 'Banana', 'Apple']

In [29]:
lst.clear() #Remove all items from the list
print(lst)

[]

In [36]:
## Slicing List Methods
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5]) 
print(numbers[5:])

print(numbers[::3]) #From first, 3 is the count/jump (:: means all the elements)
print(numbers[::-2]) #Same but from previous/from last element

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 4, 7, 10]
[10, 8, 6, 4, 2]

In [ ]:
## Iterating over lists

for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for index, num in enumerate(numbers): #printing index
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
# List comprehension
## Basic Syntax = [expression for item in iterable]
## With conditional logic = [expression for item in iterable if condition]
## Nested = [expression for item1 in iterable1 for item2 in iterable2]
lst=[]

for x in range(10):
    lst.append(x**2)


print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
### Basic List Comprehension

square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
### List Comprehension with Condition
cube = [num**3 for num in range(10) if num%2 == 0]
print(cube)

[0, 8, 64, 216, 512]

In [48]:
### Nested List Comprehension

lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [51]:
## List Comprehension with function calls

words = ['hello','word','python','list','comprehension']
length = [len(word) for word in words]
print(length)

[5, 4, 6, 4, 13]

### LIST ASSIGNMENT

In [55]:
## Assignment 1 : Creating and Accessing Lists (create a list of first 20 positive integers)
lst1 = [num for num in range(21) if num>0]

In [58]:
## Assignment 2: Accessing List Elements (Print the first, middle and last elements of the list created in above question)
print(lst1[0])

idx = len(lst1) // 2
print(lst1[idx])

print(lst1[-1])

1
11
20

In [69]:
## Assignment 3: List Slicing
## (Print the first five elements, the last elements and the elements from index 5 to 15 of the list created in question 1)

print(lst1[:5])

print(lst1[-5:])

print(lst1[5:15])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [71]:
## Assignment 4: List Comprehension
## Create a new list containing the square of the first 10 positive integers using a list comprehension. Print the new list

lst2 = [num**2 for num in range(1,11)]
print(lst2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
## Assignment 5: Filtering Lists
## Create a new list containing only the even numbers from the list created in question1 using a list comprehension. Print the new list

lst3 = [num for num in lst1 if num%2==0]
print(lst3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [79]:
## Assignment 6: List Methods
## Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

lst4 = [100,20,1,50,60,9,100]
lst4.sort()
print(lst4)
lst4.reverse()
print(lst4)

lst_no_dup = []
for num in lst4:
    if num not in lst_no_dup:
        lst_no_dup.append(num)

lst_no_dup.sort()
print(lst_no_dup)

[1, 9, 20, 50, 60, 100, 100]
[100, 100, 60, 50, 20, 9, 1]
[1, 9, 20, 50, 60, 100]

In [84]:
## Assignment 7: Nested Lists
# Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column

lst_mat = [[1,2,3],
           [4,5,6],
           [7,8,9]]
print(lst_mat)

print(lst_mat[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6