## Sets

Sets are used to store unique items in unordered manner and they do not allow any duplicate elements.

In [1]:
##create a set
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [ ]:
my_set = set((1,2,3,4)) #typecasting into a set
print(my_set)

{1, 2, 3, 4}

In [5]:
my_set = set([1,2,3,4,4,4,5])
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
## Basic set operations
## Adding and Removing elements

my_set.add(3)
print(my_set)
my_set.add(7)
print(my_set)

my_set.remove(3)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 4, 5, 7}

In [14]:
my_set.discard(3)
print(my_set)

{1, 2, 4, 5, 7}

In [17]:
## pop method

removed_element = my_set.pop() #first in first out hence we get the first element
print(removed_element)
print(my_set)

4
{5, 7}

In [18]:
my_set.clear()
print(my_set)

set()

In [19]:
## Set Membership Test
my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [24]:
## Mathematical Operations
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

### Union
union_set = set1.union(set2)
print(union_set)

### Intersection -> common elements
intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2) #common elements got updated in set1
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [25]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

In [27]:
## Difference

differ_set = set1.difference(set2)
print(differ_set)

set1.difference_update(set2)
print(set1)

{1, 2, 3}
{1, 2, 3}

In [28]:
## Symmetric Difference -> common elements will be removed
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

sym_set = set1.symmetric_difference(set2)
print(sym_set)

{1, 2, 3, 7, 8, 9}

In [31]:
## Sets Methods
set1 = {1,2,3,4,5}
set2 = {3,4,5}

## is subset -> all the elements present in set1 is available in set2 or not

print(set1.issubset(set2))

## is superset -> whether it has all the elements of set 2
print(set1.issuperset(set2))

False
True

In [ ]:
lst = [1,2,3,4,5,6,6,6,7]
print(set(lst))

{1, 2, 3, 4, 5, 6, 7}

In [37]:
### Counting Unique words in text

text = "Hello Tada how are u u"
words = text.split()

## Converting list of words into set

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'how', 'Tada', 'Hello', 'u', 'are'}
5